{% extends "talos/_base.html" %}
{% block head_title %}{{ translations.process }}{% endblock %}
{% block form_media %}{{ form.media }}{% endblock %}
{% block body_content %}
	<section class="hero is-info">
		<div class="hero-body">
			<div class="container">
				<nav class="level">
					<div class="level-left">
						<div class="level-item">
							<h1 class="title">{{ translations.step_header }}</h1>
						</div>
					</div>
					<div class="level-right">
						<a class="level-item button is-ouline is-warning" href="/">{{ translations.home_link }}</a>
					</div>
				</nav>
				{% if principal.is_authenticated %}
				<h2 class="subtitle">{{ translations.step_summary }}</h2>
				{% endif %}
			</div>
		</div>

	</section>
	<section class="section is-success">
		<div class="container">
			<ul>{% if principal.is_anonymous %}
				<li><a href="{% url 'talos-principal-registration-request-edit' %}">{{ translations.principal_register_link }}</a></li>
				<li><a href="{% url 'talos-basic-login' %}">{{ translations.basic_login_link }}</a>
				<li><a href="{% url 'talos-basic-password-reset-request-edit' %}">{{ translations.basic_password_reset_link }}</a></li>
				{% else %}
				<li><a href="{% url 'talos-basic-password-change-edit' %}">{{ translations.basic_password_change_link }}</a></li>
				<li><a href="{% url 'talos-email-change-request-edit' %}">{{ translations.principal_email_change_link }}</a></li>
				<li><a href="{% url 'talos-logout' %}">{{ translations.logout_link }}</a></li>
				{% endif %}
			</ul>
		</div>
	</section>
{% endblock %}
